    * {
        font-family: "Work Sans";
        font-weight: bold;
    }
    
    nav .title {
        background-color: #C8D5B9;
        height: 100px;
        font-size: 34px;
        
        color: #3E5481;
    }
    
    .title {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }
    
    /* .column {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex:1;
    } */
    
    .shop-list-column { /* shopping list column, make scrollable */
        background: #C4C4C4;
        border-radius: 25px;
        padding: 20px;
        margin: 40px;
        width: 400px;
        height: 170px;
    }

    .list-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .shop-name {
        color: #FF5842;
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 0.5px;
    }

    .boxed {
        padding: 8px;
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 5px;
    }

    #safeway {
        background-color: #A6C48A;
    }

    #alice {
        background-color: #68B0AB;
    }

    #communal {
        background-color: #74D3AE;
    }
    
    .form-column { /* list column */
        background: #C4C4C4;
        border-radius: 25px;
        padding: 20px;
        margin: 40px;
        width: 400px;
        height: 500px;
    }
    
    .u-full-width { /* user input */
        width: 100%;
        padding: 12px 20px;
        margin: 20px 0 50px 0;
        box-sizing: border-box;
        border-radius: 10px;
        border: none;
    }
    
    #done-button {
      display: flex;
      justify-content: center;
      align-items: center;
    
    }
    
    .button-primary {
        background-color: #678D58;
        border:none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        border-radius: 30px;
    }
    